# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled files
*.class
*.jar
*.war

# Ignore package-lock.json file (used by npm)
package-lock.json

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore build artifacts
build/
dist/
